
node_modules/
pnpm-lock.yaml
package.json
*DS_Store
*.*/DS_Store
src/Notes/.DS_Store
pepec-data.json
PepecData.swift

src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
src/.vuepress/public/music/.DS_Store
src/.vuepress/public/music/.DS_Store
src/.vuepress/public/music/.DS_Store

checklists/.vuepress/.cache/
checklists/.vuepress/.temp/
checklists/.vuepress/dist/
checklists/.vuepress/public/music/.DS_Store
checklists/.vuepress/public/music/.DS_Store
checklists/.vuepress/public/music/.DS_Store
