
node_modules/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
pnpm-lock.yaml
package.json
*DS_Store
*.*/DS_Store
src/Notes/.DS_Store
pepec-data.json
PepecData.swift
src/.vuepress/public/music/.DS_Store
